// Colors

//brand colors
$turquoise: #4CE3D0;
$blue: #3382E6;
$white: #FFFFFF;

//status colors
$warning: #C0131F;

//component colors
$dynamic-add-button-color: #B3E3E0;
$input-border-color: #D9DBDB;
$unit-border-color: #74777B;