@import '../utils/variables';

.form {
    &__input-wrapper {
        margin: 2em auto;
    }

    &__input {
        font-size: 14px;
        width: 100%;
        padding: 1em;
        margin-top: 1em;
        border-radius: 0.5em;
        border: 1px solid $input-border-color;
    }

    &__label--radio {
        display: block;
    }

    &__radio-unit {
        display: inline-block;
        margin: 1em;
    }

    &__error {
        color: $warning;
        font-size: 11px;
    }

    &__2-col {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        & > .form__input-wrapper {
            margin: 0;
            width: 49%;
        }
    }

    &__submit {
        background-color: $turquoise;
        color: $white;
        font-weight: bold;
        padding: 1em;
        font-size: 15px;
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    //dynamic fields

    &__dynamic-unit {
        margin: 1em auto;
        padding: 1em;
        width: 85%;

        & > .form__tag-input {
            width: 80%;
        }

        &--tags {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        &--highlight {
            border: 1px solid $unit-border-color;
        }

        &-label {
            text-align: center;
            margin: 1em;
        }
    }

    &__dynamic-button {
        padding: 1em;
        display: block;
        margin: 2em auto;

        &--add {
            color: $blue;
            border: 1px solid $blue;
        }

        &--remove {
            color: $warning;
            border: 1px solid $warning;
        } 
    }
}

@media (max-width: 600px) {
    .form {
        &__dynamic-unit {
            width: 100%;

            &--tags {
                flex-wrap: wrap;
            }

            & > .form__tag-input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 400px) {
    .form {
        &__2-col {
            flex-wrap: wrap;
        }
        &__2-col > &__input-wrapper {
            width: 100%;
        }

        & .form__input-wrapper + .form__input-wrapper {
            margin-top: 2em;
        }
    }
}